{{ define "GUI" }}
<!DOCTYPE html>
<html>
  <head>
    <title>Playnode</title>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#002b36">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" sizes="192x192" href="res/icon_playnode.png">
    <link rel="apple-touch-icon" href="res/icon_playnode.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="manifest" href="res/chromescreen.json">
    {{template "STYLE"}}
  </head>
  <body ontouchstart="">
    <nav>
      <div class="row">
        {{template "BUTTONS"}}  
      </div>
      <div class="row">
        <div class="banner">
		      <h3 id="bannerText">Nobody here</h3>
        </div>
      </div>
    </nav>
    <main>
      <!-- Viewer-->
      <section id="info">just a sec..</section>
      <!-- END Viewer-->
    </main>
  {{template "JS"}}  
  </body>
</html>
{{ end }}
