<div id="infotainer" class="info-container">
<ul>
{{ range $index,$item := .List}} 
  {{ if $item.Current }}
    <li>
    <div id = "scrollTo">
	  <h3 class = "playing">{{ $item.Label }}</h3>
    </div>
      <p>
      {{ if $item.Artist }}
        <div class="by">&nbsp;&nbsp;by</div> 
        <div class = "artist">{{ $item.Artist }}</div>
      {{ end }}
      {{ if $item.Album }}
        <div class="from">&nbsp;&nbsp;from</div> 
        <div class = "artist">{{ $item.Album }}</div>
      {{ end }}
      </p> 
    </li>
  {{ else }}
  <li class="notPlaying">
	    &nbsp;&nbsp;{{ $item.Label }}
	  <div class="notPlaying artist">
		  &nbsp;{{ $item.Artist }}
	  </div>
  </li>
  {{ end }}
{{ end }}
</ul>
</div>
