<div id="infotainer" class="info-container">
<ul>
{{ range $index,$item := .List}} 
  {{ if $item.Current }}
    <li>
    <div id = "scrollTo">
	  <h3 class = "playing">{{ $item.Label }}</h3>
    </div>
      <p>
      {{ if $item.Artist }}
        <div class="by">by</div> 
	<div class = "artist">{{ $item.Artist }}</div><br>
      {{ end }}
      {{ if $item.Album }}
        <div class="from">from</div> 
        <div class = "artist">{{ $item.Album }}</div>
      {{ end }}
      </p> 
    </li>
  {{ else }}
	  {{ if $item.Label }}
	  <li class="notPlaying">
		    {{ $item.Label }} 
		  <div class="notPlaying artist">
		    {{ $item.Artist }}
		  </div>
	  </li>
	  {{ end }}
  {{ end }}
{{ end }}
</ul>
</div>
